<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ferreteria_version_development</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="com.soft.models.Categoria_producto"/>
        <mapping class="com.soft.models.Empleado"/>
        <mapping class="com.soft.models.Producto"/>
        <mapping class="com.soft.models.Tipo_perfil_persona"/>
        <mapping class="com.soft.models.cliente_natural"/>
        <mapping class="com.soft.models.persona_juridica"/>
        <mapping class="com.soft.models.Detalle_venta"/>
        <mapping class="com.soft.models.Factura_venta"/>
        <mapping class="com.soft.models.Detalle_abastecimiento"/>
        <mapping class="com.soft.models.Abastecimiento"/>
        <mapping class="com.soft.models.Alamacen"/>
        <mapping class="com.soft.models.Persona"/>


    </session-factory>
</hibernate-configuration>
